services:
  api:
    build: ./app/api
    volumes:
      - ${APP_DATA_DIR:-./data}:/data
      - ./scripts:/scripts:ro
      - /home/umbrel/umbrel/app-data/lightning/data/lnd:/lnd:ro
    environment:
      BITCOIN_NETWORK: mainnet
      LND_GRPC_HOST: lightning_lnd_1:10009
    networks:
      - umbrel

  web:
    build: ./app/web
    depends_on:
      - api
    networks:
      - umbrel

networks:
  umbrel:
    external: true
    name: umbrel_main_network
